.mainContainer {
    margin: 90px auto;
    width: 600px;
    @media (max-width: 700px) {
        width: 90%;
    }

    .refreshButtonContainer {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
}

.App {
    width: 100%;
    margin: 0;
    padding: 0;
}

:root {
    width: 100%;
    margin: 0;
    padding: 0;
}







